/*---------------------------------------------------
----------------------IMPORTS------------------------
---------------------------------------------------*/
@font-face {
  font-family: 'pokemon_gbregular';
  src: url("../fonts/pokemon_gb-webfont.woff2") format("woff2"), url("../fonts/pokemon_gb-webfont.woff") format("woff"), url("../fonts/pokemon_GB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pocket_monkregular';
  src: url("../fonts/pocket_monk-webfont.woff2") format("woff2"), url("../fonts/pocket_monk-webfont.woff") format("woff"), url("../fonts/Pocket_Monk.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*---------------------------------------------------
--------------------MAIN RESET-----------------------
---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/*---------------------------------------------------
----------------------LAYOUT-------------------------
---------------------------------------------------*/
body {
  background: url("./images/Pokedex-background.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

#title {
  text-align: center;
  margin-top: 60px;
}

#title h1 {
  font-family: "pocket_monkregular", monospace;
  font-size: 60px;
  -webkit-filter: drop-shadow(-2px 2px #2d3ba5);
          filter: drop-shadow(-2px 2px #2d3ba5);
  color: #FFDE00;
  -webkit-text-stroke: 1px #3B4CCA;
}

#pokedex {
  background: #CC0000;
  border: 2px solid black;
  border-radius: 10px;
  height: 70%;
  width: 70%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 960px) {
  #pokedex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#pokedex #left-part {
  width: 100%;
  height: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 960px) {
  #pokedex #left-part {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    border-bottom: none;
  }
}

#pokedex #left-part #screen {
  background: #C9C9C9;
  border: 2px solid black;
  width: 90%;
  height: 180px;
  max-width: 300px;
  border-radius: 5px 5px 5px 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pokedex #left-part #screen #display {
  background: white;
  border: 1px solid black;
  height: 120px;
  width: 70%;
  max-width: 240px;
  border-radius: 5px;
}

#pokedex #left-part #poke-number {
  background: white;
  border: 15px solid #3B4CCA;
  border-radius: 5px;
  height: 60px;
  width: 120px;
  margin: auto;
}

#pokedex #right-part {
  width: 100%;
  height: 50%;
  padding: 15px;
}

@media screen and (min-width: 960px) {
  #pokedex #right-part {
    width: 50%;
    height: 100%;
  }
}

#pokedex #right-part #search {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 960px) {
  #pokedex #right-part #search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#pokedex #right-part #search input {
  height: 30px;
  margin: 5px 0;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid black;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  font-family: "pokemon_gbregular", sans-serif;
  font-size: 10px;
}

#pokedex #right-part #search input[type=button] {
  background: #3B4CCA;
  color: white;
}

@media screen and (min-width: 960px) {
  #pokedex #right-part #search input {
    -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    margin: 0 5px;
  }
  #pokedex #right-part #search input[type=text] {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

#pokedex #right-part #info {
  background: #66F464;
  border: 2px solid black;
  width: 90%;
  height: 50%;
  max-width: 300px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
  color: black;
  font-family: "pokemon_gbregular", sans-serif;
  font-size: 10px;
}

@media screen and (min-width: 960px) {
  #pokedex #right-part #info {
    height: 180px;
  }
}

#pokedex #right-part #info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pokedex #right-part #info div#name {
  height: 30px;
  border-bottom: 1px solid black;
}

#pokedex #right-part #info div#moves {
  height: calc(100% - 30px);
}
/*# sourceMappingURL=styles.css.map */