/*---------------------------------------------------
----------------------IMPORTS------------------------
---------------------------------------------------*/
@import "./helpers/colors.scss";
@import "./helpers/fonts.scss";
@import "./helpers/sizing.scss";

/*---------------------------------------------------
--------------------MAIN RESET-----------------------
---------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100vw;
    overflow-x: hidden;

    @media screen and (min-width: 960px){
        height: 100vh;
        overflow: hidden;
    }
}

/*---------------------------------------------------
----------------------LAYOUT-------------------------
---------------------------------------------------*/

body {
    background: url("./images/Pokedex-background.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#title {
    h1 {
        font: {
            family: $title;
            size: $small;
        }
        filter: drop-shadow(-2px 2px darken($blue, 10%));
        color: $yellow;
        -webkit-text-stroke: 1px $blue;
    }
    text-align: center;
    margin-top: $small;
}

#pokedex {
    background: linear-gradient(0deg, rgba(204,0,0,1) 0%, rgba(255,0,0,1) 100%);
    border: $bigcontour;
    border-radius: 10px;
    height: 70%;
    width: 70%;
    margin: $xs auto;
    position: relative;
    display:flex;
    flex-direction: column;

    @media screen and (min-width: 960px) {
        flex-direction: row;
    }

    #left-part {
        width: 100%;
        height: 50%;
        padding: $xxs;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        border-bottom: $contour;

        @media screen and (min-width:960px){
            width: 50%;
            height: 100%;
            border-right: $contour;
            border-bottom: none;
        }

        #buttons {
            display: flex;
            padding-bottom: $xxs;
            border-bottom: none;

            @media screen and (min-width:960px){
                border-bottom: $contour;
            }
        }

        .circle {
            height: $small;
            width: $small;
            border: $contour;
            margin-right: $xxs/2;
            border-radius: 50%;
            background: $grey;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &.medium {
                margin-right: 0;
                height: 80%;
                width: 80%;
                position: relative;
                
                &.blue {
                    background: $aqua; 
                }
            }

            &.small {
                width: $xxs;
                height: $xxs;
                position: relative;
            }

            &.xsmall {
                width: $xxs/2;
                height: $xxs/2;
            }

            &.red {
                background: $red;
            }
            &.yellow {
                background: $yellow;
            }
            &.green {
                background: $green;
            }
        }

        .glare {
            border-radius: 50%;
            position: absolute;
            background: white;
            border: none;
            height: 30%;
            width: 30%;
            right: 20%;
            top: 20%;
        }

        #screen {
            background: $grey;
            border: $bigcontour;
            width: 90%;
            position: relative;
            height: $medium-extra;
            max-width: $large;
            border-radius: 5px 5px 5px 30px;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #tinydetails{
                display: flex;
                position: absolute;
                flex-direction: row;
                left: 50%;
                transform: translateX(-50%);
                top: $xxs/2;
            }

            #display {
                background: white;
                border: $contour;
                height: $medium;
                width: 70%;
                max-width: $largish;
                border-radius: 5px;
                text-align: center;

                #displayImage {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        #poke-number {
            background: white;
            border: $xxs solid $blue;
            position: relative;
            border-radius: 5px;
            height: $small;
            width: $medium;
            margin: $xxs auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %text-props;

            h2 {
                @extend %text-props;
                font-size: 9px;
                position: absolute;
                color: white;
                top: -$xxs;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        #types {
            position: absolute;
            bottom: -20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @extend %text-props;
            text-transform: uppercase;

            div {
                border: $bigcontour;
                border-radius: 5px;
                margin: $xxs/2;
                padding: 0 5px;
            }
        }
    }

    #right-part {
        width: 100%;
        height: 50%;
        padding: $xxs;

        @media screen and (min-width:960px){
            width: 50%;
            height: 100%;
        }

        #search {
            margin: 0 auto;
            display: flex;
            width: 100%;
            max-width: $large;
            flex-direction: column;
            justify-content: space-around;

            @media screen and (min-width:960px){
                flex-direction: row;
            }

            input {
                height: $xs;
                margin: 5px 0;
                padding: 0 $xxs;
                border-radius: 5px;
                border: $contour;
                flex-basis: $xs;
                text-transform: uppercase; 
                @extend %text-props;

                &[type=button]{
                    background: $blue;
                    color: white; 
                    
                }

                @media screen and (min-width:960px){
                    flex-basis: $small;
                    margin: 0 5px;

                    &[type=text]{
                        flex-grow: 2;
                    }
                }
            }
        }

        #info {
            background: $green;
            border: $bigcontour;

            width: 90%;
            height: 50%;
            max-width: $large;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: $xxs;
            padding: $xxs;
            color: black;
            overflow: scroll;
            @extend %text-props;

            @media screen and (min-width:960px){
                height: $medium-extra;
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                max-height: $largish;

                &#name {
                    height: $xs;
                }

                &#moves {
                    padding-top: $xxs;
                    height: calc(100% - 30px);

                    li {
                        list-style: none;
                    }
                }
            }
            
        }
    }
}

