/*---------------------------------------------------
----------------------IMPORTS------------------------
---------------------------------------------------*/
@import "./helpers/colors.scss";
@import "./helpers/fonts.scss";
@import "./helpers/sizing.scss";

/*---------------------------------------------------
--------------------MAIN RESET-----------------------
---------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*---------------------------------------------------
----------------------LAYOUT-------------------------
---------------------------------------------------*/

body {
    background: url("./images/Pokedex-background.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#title {
    h1 {
        font: {
            family: $title;
            size: $small;
        }
        filter: drop-shadow(-2px 2px darken($blue, 10%));
        color: $yellow;
        -webkit-text-stroke: 1px $blue;
    }
    text-align: center;
    margin-top: $small;
}

#pokedex {
    background: $red;
    border: $bigcontour;
    border-radius: 10px;
    height: 70%;
    width: 70%;
    margin: auto;
    position: relative;

    #left-part {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: space-between;

        @media screen and (min-width:960px){
            width: 50%;
            border-right: $contour;
        }

        #screen {
            background: $grey;
            border: $bigcontour;
            height: $medium-extra;
            width: $large;
            border-radius: 5px 5px 5px 30px;
            margin: auto;
            margin-top: $xs;
            display: flex;
            justify-content: center;
            align-items: center;

            #display {
                background: white;
                border: $contour;
                height: $medium;
                width: $largish;
                border-radius: 5px;
            }
        }

        #poke-number {
            background: white;
            border: $xxs solid $blue;
            border-radius: 5px;
            height: $small;
            width: $medium;
            margin: $xxs auto;
        }
    }

    #right-part {
        width: 100%;

        @media screen and (min-width:960px){
            width: 50%;
        }
    }
}